---
version: '3'
services:
  dev:
    image: "picklewicklewickle/mm-dev"
    container_name: "mm-dev-hot"
    ports:
      - "8080:8080"
    volumes:
      - .:/user/src/app
      - node_modules:/user/src/app/node_modules
    command: "npm run dev:hot"
    depends_on: 
      - postgres-db
  postgres-db:
    image: "picklewicklewickle/mm-postgres"
    container_name: "mm-database"
    environment:
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=mmadmin
      - POSTGRES_DB=mmdb
    volumes:
      - "dev-db-volume:/var/lib/postgresql/data"
volumes:
  node_modules: {}
  dev-db-volume: {}